* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #09304d;
}
.wrapper {
  max-width: 75rem;
  margin: 3rem auto;
  padding: 1rem;
  font-family: Ubuntu, sans-serif;
  color: white;

}

h1 {
  margin-bottom: 1em;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.section {
  height: 20rem;
  color: black;
  border: 1px solid black;
  padding: 2rem 5rem;
  font-size: 1rem;
  font-weight: normal;
  border-radius: 0.5rem;
  background: white;
}

.flex {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.flex *:first-child {
  flex-basis: 40%;
}

button {
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.3rem;
  outline: 0;
  border: 2px solid #0071c2;
  background: #0071c2;
  color: white;
  cursor: pointer;
}
button:hover {
  background: hsl(205, 100%, 58%);
}

.textfield {
  width: 100%;
  border-radius: 0.6rem;
  border: 1px solid black;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  height: 2rem;
  padding-left: .5rem;
}

.section-left {
  display: flex;
  flex-direction: column;
}

.section-right {
}

.text {
  font-size: 1.5rem;
}

.text:not(:last-child) {
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

#myButton {
  margin: 1rem 0;
  font-size: 1.5rem;
  box-shadow: 2px 2px 5px #2b2b2b;
}

#myDiv {
  display: grid;
  border: 1px solid black;
  height: 3rem;
  align-items: center;;
  padding-left: 1rem;
}